/*------------------------------------*\
    #COLORS
\*------------------------------------*/
$glacier: #FFFFFF;
$glacierDark: #DDDDDD;
$blackOpaque: #1D1F20;
$black: #000000;

$aqua: #1098AD;
$aquaDark: #0F6875;
$aquaLight: #07B39B;
$aquaOpaque: #1098ADB7;
$aquaOpaqueLight: #51B3C2DE;

$blue: #005A85;
$blueDark: #033146;
$blueLight: #5073B8;
$blueOpaque: #005B85BB;
$blueOpaqueLight: #4E98B9EA;

$green: #C4D600;
$greenDark: #778017;
$greenLight: #6FBA82;
$greenOpaque: #C4D600B4;
$greenOpaqueLight: #F2FF67E5;

$orange: #FF6B00;
$orangeDark: #944106;
$orangeLight: #F79533;
$orangeOpaque: #FF6A00C4;
$orangeOpaqueLight: #FFA462D3;

$pink: #EF4E7B;
$pinkDark: #A02749;
$pinkLight: #FA91AF;
$pinkOpaque: #EF4E7CBD;
$pinkOpaqueLight: #FFA1BCDE;

$purple: #522398;
$purpleDark: #250B4D;
$purpleLight: #9361FB;
$purpleOpaque: #522398BF;
$purpleOpaqueLight: #D5CCDD;

$yellow: #FFE900;
$yellowDark: #9B8E01;
$yellowLight: #FFF374;
$yellowOpaque: #FFEA00C0;
$yellowOpaqueLight: #FFF266DE;


